# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/src/assets/img/Element 1.svg
/src/assets/img/DALL·E 2025-02-15 17.12.49 - An ultra-minimalist logo for a quiz app designed for career changers and job newcomers. The logo should feature a very simple and clean question mark .webp
/src/assets/img/DALL·E 2025-02-15 17.12.49 - An ultra-minimalist logo for a quiz app designed for career changers and job newcomers. The logo should feature a very simple and clean question mark.png
/src/assets/img/logo-2.ai
